// Fonts
$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-secondary: "Roboto", sans-serif;

// Colors
$dark: rgba(36, 43, 51, 1);
$accent: rgba(212, 193, 127, 1);
$white: #fff;
$footer-bg: rgba(45, 52, 60, 1);
$placeholder: #bebebe;
$muted: #e7e7e7;

// media
$tablet: 959px;
